.MovieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;
  padding: 24px 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.poster {
  max-width: 240px;
  border-radius: 8px;
}

.infoCol {
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}

.mainInfo {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  padding: 0 24px;
}

.director {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondaryInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}

.pair {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
}

.tertiaryInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  width: 100%;
}

.proList {
}
