.Item {
  position: relative;
}

.ImgContainer {
  border-radius: 8px;

  width: 100%;
  height: 110px;
}

.nuggets {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  opacity: 0.75;
}

.bookmarkWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--clr-greyish-blue-transparent);
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.bmInnerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
