.Item {
  position: relative;
}

.ImgContainer img {
  border-radius: 8px;
}

.nuggets {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  opacity: 0.75;
}
