.Navbar {
  background-color: var(--clr-semi-dark-blue-bg);
  padding: 18px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.avatar {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

.activeIcon > path {
  fill: red;
}
