@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Outfit', sans-serif;

  --fw-light: 300;
  /* --fw-regular: 400; */
  --fw-medium: 500;
  /* --fw-semi-bold: 600;
  --fw-bold: 700; */

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-50: 3.125em;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Basics */
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  --clr-soft-red: hsl(0, 97%, 63%);
  --clr-greyish-blue: hsl(223, 23%, 46%);

  /* Text */
  --clr-white-txt: hsla(0, 0%, 100%, 1);
  --clr-grey-txt: hsl(220, 13%, 91%, 0.5);

  /* Elements */

  /* Background  */
  --clr-dark-blue-bg: hsl(223, 30%, 9%);
  --clr-semi-dark-blue-bg: hsl(223, 36%, 14%);

  /* Others */
}

body {
  background: var(--clr-dark-blue-bg);
  color: var(--clr-white-txt);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  line-height: 1.25;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */
.section-title {
  font-size: var(--fs-20);
  font-weight: var(--fw-light);
  letter-spacing: -0.312px;
}

.trending-title {
  font-size: var(--fs-15);
  font-weight: var(--fw-medium);
}
.title-tile-item {
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
}

.item-title {
  font-size: var(--fs-26);
  font-weight: var(--fw-medium);
  letter-spacing: -0.35px;
}

.director-credits,
.info-tag {
  font-size: var(--fs-14);
  color: var(--clr-grey-txt);
  font-weight: var(--fw-light);
}

.director-name {
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  color: var(--clr-white-txt);
  text-transform: uppercase;
}

.info {
  font-size: var(--fs-11);
}

.tagline {
  font-size: var(--fs-16);
  color: var(--clr-grey-txt);
  font-weight: var(--fw-light);
}

.votes {
  font-size: var(--fs-36);
  font-weight: var(--fw-medium);
}

.info-data {
  font-size: var(--fs-14);
}

.text {
  font-size: var(--fs-16);
  line-height: 1.5;
}

.info-pill {
  background-color: var(--clr-semi-dark-blue-bg);
  color: var(--clr-greyish-blue);
  font-size: var(--fs-14);
  padding: 4px 8px;
  letter-spacing: 0.65px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

/* ================== */
/* Icons */
/* ================== */

.icon-cat > path {
  fill: var(--clr-white);
}

.icon-nav > path {
  fill: var(--clr-greyish-blue);
  transition: fill 250ms;
}

.icon-nav {
  transform: scale(0.9);
  transform: translateY(10%);
}

.icon-nav:hover > path,
.icon-nav:active > path {
  fill: var(--clr-soft-red);
}

.activeIcon > path {
  fill: var(--clr-white);
}

/* ================== */
/* Utility styles */
/* ================== */

/* ================== */
/* SECTIONS */
/* ================== */

/* ================== */
/* MEDIA QUERIES */
/* ================== */
